<div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.question_id}}" placeholder="Enter Question ID to be deleted" name="question_id">
      <label for="floatingInput">Question ID</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-dark" type="submit">Submit</button>
  </div>